@{
    ViewData["Title"] = "Home Page";

}


<div id="sub-navigation">
    <ul>
        <li><a class ="active" href="#">SHOW ALL</a></li>
        <li><a href="#">LATEST </a></li>
        <li><a href="#">TOP RATED</a></li>
    </ul>
</div>
<div id="main">
    <div id="content">
        <div class="box">
            <div class="head">

                <p class="text-right">.</p>
            </div>
            <div class="movie">
                <div class="movie-image"> <span class="play"><span class="name">NARUTO</span></span> <a href="@Url.Action("Naruto","")"><img src="css/images/naruto.jpg" alt="" /></a> </div>
                <div class="rating">
                    <p>RATING</p>
                    <div class="stars">
                        <div class="stars-in"> </div>
                    </div>
                    
                </div>
            </div>
            <div class="movie">
                <div class="movie-image"> <span class="play"><span class="name">ONE PIECE</span></span> <a href="#"><img src="css/images/one piece.jpg" alt="" /></a> </div>
                <div class="rating">
                    <p>RATING</p>
                    <div class="stars">
                        <div class="stars-in"> </div>
                    </div>
                    
                </div>
            </div>
            <div class="movie">
                <div class="movie-image"> <span class="play"><span class="name">JJK</span></span> <a href="#"><img src="css/images/jjk.jpg" alt="" /></a> </div>
                <div class="rating">
                    <p>RATING</p>
                    <div class="stars">
                        <div class="stars-in"> </div>
                    </div>
                    
                </div>
            </div>
            <div class="movie">
                <div class="movie-image"> <span class="play"><span class="name">VILLAIN DAY OFF</span></span> <a href="#"><img src="css/images/Villain Day Off.jpg" alt="" /></a> </div>
                <div class="rating">
                    <p>RATING</p>
                    <div class="stars">
                        <div class="stars-in"> </div>
                    </div>
                    
                </div>
            </div>
            <div class="movie">
                <div class="movie-image"> <span class="play"><span class="name">B</span></span> <a href="#"><img src="css/images/B.jpg" alt="" /></a> </div>
                <div class="rating">
                    <p>RATING</p>
                    <div class="stars">
                        <div class="stars-in"> </div>
                    </div>
                    
                </div>
            </div>
            <div class="movie last">
                <div class="movie-image"> <span class="play"><span class="name">SPY FAMILY</span></span> <a href="#"><img src="css/images/spy.jpg" alt="" /></a> </div>
                <div class="rating">
                    <p>RATING</p>
                    <div class="stars">
                        <div class="stars-in"> </div>
                    </div>
                    
                </div>
            </div>
            <div class="cl">&nbsp;</div>
        </div>
        <div class="box">
            <div class="head">

                <p class="text-right">.</p>
            </div>
            <div class="movie">
                <div class="movie-image"> <span class="play"><span class="name">DEATHNOTE</span></span> <a href="#"><img src="css/images/DeathNote.jpg" alt="" /></a> </div>
                <div class="rating">
                    <p>RATING</p>
                    <div class="stars">
                        <div class="stars-in"> </div>
                    </div>
                    
                </div>
            </div>
            <div class="movie">
                <div class="movie-image"> <span class="play"><span class="name">DEATH DAY</span></span> <a href="#"><img src="css/images/Death.jpg" alt="" /></a> </div>
                <div class="rating">
                    <p>RATING</p>
                    <div class="stars">
                        <div class="stars-in"> </div>
                    </div>
                    
                </div>
            </div>
            <div class="movie">
                <div class="movie-image"> <span class="play"><span class="name">MARSHLE</span></span> <a href="#"><img src="css/images/marshle.jpg" alt="" /></a> </div>
                <div class="rating">
                    <p>RATING</p>
                    <div class="stars">
                        <div class="stars-in"> </div>
                    </div>
                    
                </div>
            </div>
            <div class="movie">
                <div class="movie-image"> <span class="play"><span class="name">DRAGON BALL</span></span> <a href="#"><img src="css/images/Dragon.jpg" alt="" /></a> </div>
                <div class="rating">
                    <p>RATING</p>
                    <div class="stars">
                        <div class="stars-in"> </div>
                    </div>
                    
                </div>
            </div>
            <div class="movie">
                <div class="movie-image"> <span class="play"><span class="name">HUNTER HUNTER</span></span> <a href="#"><img src="css/images/hunter.jpg" alt="" /></a> </div>
                <div class="rating">
                    <p>RATING</p>
                    <div class="stars">
                        <div class="stars-in"> </div>
                    </div>
                    
                </div>
            </div>
            <div class="movie last">
                <div class="movie-image"> <span class="play"><span class="name">CLASSROOM OF ELITE</span></span> <a href="#"><img src="css/images/coe.jpg" alt="" /></a> </div>
                <div class="rating">
                    <p>RATING</p>
                    <div class="stars">
                        <div class="stars-in"> </div>
                    </div>
                    
                </div>
            </div>
            <div class="cl">&nbsp;</div>
        </div>
        <div class="box">
            <div class="head">

                <p class="text-right">.</p>
            </div>
            <div class="movie">
                <div class="movie-image"> <span class="play"><span class="name">CRIMSON</span></span> <a href="#"><img src="css/images/Crimson.jpg" alt="" /></a> </div>
                <div class="rating">
                    <p>RATING</p>
                    <div class="stars">
                        <div class="stars-in"> </div>
                    </div>
                    
                </div>
            </div>
            <div class="movie">
                <div class="movie-image"> <span class="play"><span class="name">ONE PUNCHMAN</span></span> <a href="#"><img src="css/images/One PunchMan.jpg" alt="" /></a> </div>
                <div class="rating">
                    <p>RATING</p>
                    <div class="stars">
                        <div class="stars-in"> </div>
                    </div>
                    
                </div>
            </div>
            <div class="movie">
                <div class="movie-image"> <span class="play"><span class="name">DRAGONBALL Z</span></span> <a href="#"><img src="css/images/dbz.jpg" alt="" /></a> </div>
                <div class="rating">
                    <p>RATING</p>
                    <div class="stars">
                        <div class="stars-in"> </div>
                    </div>
                    
                </div>
            </div>
            <div class="movie">
                <div class="movie-image"> <span class="play"><span class="name">SOLO LEVELING</span></span> <a href="#"><img src="css/images/solo.png" alt="" /></a> </div>
                <div class="rating">
                    <p>RATING</p>
                    <div class="stars">
                        <div class="stars-in"> </div>
                    </div>
                    <span class="comments">12</span>
                </div>
            </div>
            <div class="movie">
                <div class="movie-image"> <span class="play"><span class="name">PSYCHO PASS</span></span> <a href="#"><img src="css/images/Psycho.jpg" alt="" /></a> </div>
                <div class="rating">
                    <p>RATING</p>
                    <div class="stars">
                        <div class="stars-in"> </div>
                    </div>
                    <span class="comments">12</span>
                </div>
            </div>
            <div class="movie last">
                <div class="movie-image"> <span class="play"><span class="name">VAMPIRE</span></span> <a href="#"><img src="css/images/VAMPIRE.jpg" alt="" /></a> </div>
                <div class="rating">
                    <p>RATING</p>
                    <div class="stars">
                        <div class="stars-in"> </div>
                    </div>
                    <span class="comments">12</span>
                </div>
            </div>
            <div class="cl">&nbsp;</div>
        </div>
    </div>

    <div class="cl">&nbsp;</div>
</div>